:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #888888;
  --primary-color: #242e4c;
  --secondary-color: #f76faf;
  --primaryDark-color: #212949;
  --text-color: #f3fbfb;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  line-height: 1.7;
  color: var(--gray-color);
  font-family: sans-serif;
}

/* global styling */

/* anchor */
a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

.bar {
  margin-top: 5rem;
  margin-left: 2rem;
  height: 10px;
  width: 550px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px #88888888;
  position: relative;
  overflow: hidden;
}

.fill {
  position: absolute;
  height: 100%;
  background-color: #9944ff;
}
